@page "/"

<PageTitle>Index</PageTitle>

<div>
    <h4>Press the buttons to see different url-parameters:</h4>
    <button class="btn btn-primary my-1" @onclick="NavigateTestNoArgument">Test None (No parameters)</button>
    <button class="btn btn-warning my-1" @onclick="NavigateTestSingle">Test Single (Single parameters)</button>
    <button class="btn btn-success my-1" @onclick="NavigateTestMultiple" >Test Multiple (Multiple parameters)</button>
</div>


<p class="mt-2">Active: @NavMan.GetNavMan().Uri</p>

<div class="mt-2">
    <small>Input the parameters ONLY, the first seperated by '?', the following by '&'<br />Example: <mark>?test=thetest&secondtest=2&one=1</mark></small>
    <br />
    <input type="text" style="width: 30%" @bind="FreeformParametesTextinput" />
    <br />
    <button class="btn btn-danger mt-2" @onclick="NavigateCustomParameter" >Test Custom (Custom parameters)</button>
</div>

<div class="mt-2">
    @if(ParametersList.Count > 0) {
        <div class="mt-2">
            <h5>Parameters: <b>@ParametersList.Count</b></h5>
            @foreach (KeyValuePair<string, string> para in ParametersList)
            {
                <p class="mt-1">Name: <b>@para.Key</b> &rarr; Value: <b>@para.Value</b></p>
            }
        </div>
    } else
    {
        <h5>Parameters:</h5>
        <p>No parameters in URL found</p>
    }
</div>
